nav ul li {
  list-style-type: none;
}

nav {
<<<<<<< HEAD
  float: left;
  display: inline-block;
  padding: 1em;
  margin-bottom: 100%;
}

p {
  font-size: 24px;
}

main {
  padding: 2em;
}

nav ul {
  padding: 1em;
  font-size: 20px;
}

li {
  padding: 1em;
  font-size: 24px;
  font-family: sans-serif;
=======
  display: inline-block;
  padding: 1em;
>>>>>>> 2b5ddb486d212d86ece9ad66bee18512c6d2416b
}
